[Unit]
Description=Dash's distributed currency daemon
After=network.target

[Service]
User=dashcore
Group=dashcore

Type=forking
PIDFile=/var/lib/mgrcd/mgrcd.pid
ExecStart=/usr/bin/mgrcd -daemon -pid=/var/lib/mgrcd/mgrcd.pid \
-conf=/etc/dashcore/dash.conf -datadir=/var/lib/mgrcd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
